html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

header {
	width: 100%;
	height: 5%;
	position: fixed;
	z-index: 2000;
	background-color: lightblue;
	color: white;
	font-size: 130%;
	padding-left: 3%;
}

#map {
	top: 5%;
	width: 100%;
	height: 95%;
}

@keyframes showLocations {
	from {
		width: 0;
		opacity: 0.5;
	}
	to {
		width: 100%;
		opacity: 1;
	}
}

@keyframes hideLocations {
	from {
		width: 100%;
		opacity: 1;
	}
	to {
		width: 0;
		opacity: 0.5;
	}
}

#locations-list {
	display: none;
	position: absolute;
	top: 5%;
	z-index: 1;
	background-color: lightblue;
	color: white;
	overflow-y: auto;
	width: 100%;
	height: 100%;
	animation-duration: 1s; 
}

@keyframes goDown {
    from {
    	height: 0;
    	opacity: 0.7;
    }
    to {
    	height: 100%;
    	opacity: 1;
    }
}

@keyframes goUp {
	100% {
		height: 0;
		opacity: 0.7;
	}
}

#wikipedia-text {
	display: none;
	position: absolute;
	top: 5%;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: lightblue;
	text-align: center;
	color: white;
	overflow-y: auto;
	animation-duration: 1s;
}

ul {
	height: 80%;
	padding: 5%;
}

li {
	height: 20%;
	width: 100%;
	list-style-type: none;
}

.info-window {
	text-align: center;
}